@import "nullstyle.scss";
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:wght@100..900&display=swap');

html,
body{
	line-height: 1.2;
	color: #000;
	font-weight: normal;
	font-family: Lato;
	overflow-x:hidden;
	max-width:100vw;
}

.wrapper{
	min-height: 100%;
	display: flex;
	flex-direction: column;
}
.container{
	max-width: 1100px;
	margin: 0 auto;
	padding: 0 20px;
}
.maintitle {
	color: #000;
	text-transform: uppercase;
	font-size: 34px;
	font-weight: 700;
	letter-spacing: 0.16em;
	position: relative;
	padding-bottom: 35px;
	text-align: center;
	&:after{
				content: '';
				width: 81px;
				height: 1px;
				background-color: #000;
				position: absolute;
				left: 50%;
				margin-left: -41.5px;
				bottom: 0;
			}
}
.mainbutton{
	text-transform: uppercase;
	border: 1px solid #fff;
	font-size: 16px;
	letter-spacing: 0.06px;
}
.mainnav{
	display: flex;
	justify-content: center;
}

/* HEADER */
.header {
	position: relative;
   overflow: hidden;
	padding: 140px 0 178px 0;
	color: #fff;
	text-align: center;
	&__bg{
		position: absolute;
		inset: 0;
		background: url("../img/header/bg.jpg") center/cover  no-repeat;
		z-index: -1;
	}
		&__logo {
			margin: 0 0 159px 0;
		}
		&__text {
			line-height: calc(40/14*100%);
			position: relative;
			padding-bottom: 45px;
			margin-bottom: 250px;
			&:after{
				content: '';
				width: 105px;
				height: 2px;
				background-color: #fff;
				position: absolute;
				left: 50%;
				margin-left: -52.5px;
				bottom: 0;
			}
		}
		
		&__title {
			font-size: 34px;
			font-weight: 900;
			text-transform: uppercase;
			letter-spacing: 0.16em;
		}
		&__subtitle {
			font-size: 26px;
		}
		&__button {
			position: relative;
			color: #fff;
			text-transform: uppercase;
			border: 1px solid #fff;
			font-size: 16px;
			letter-spacing: 0.06px;
			padding: 15px 39px 17px 41px;
			transition: all 0.3s ease 0s;
			&:hover{
				color: #feffac;
				border: 1px solid #feffac;
			}
			&::before,
			&::after{
				content: '';
				width: 10px;
				height: 1px;
				background: #fff;
				position: absolute;
				bottom: -80px;
			}
			&:before{
				transform: rotate(-40deg);
				left: 84px;
				
			}
			&:after{
				transform: rotate(40deg);
				left: 76px;
			}
		}
	
}
@media (max-width: 1024px){
	.header{
		padding: 80px 0 120px;
   }
	.header__logo {
			margin: 0 0 100px 0;
	}
	.header__text{
		padding-bottom: 25px;
		margin-bottom: 130px;
	}
	.header__title{
		font-size: 29px;
	}
	.header__subtitle{
		font-size: 18px;
	}
	.header__button::before,
	.header__button::after{
		top: 110px;
	}
}
@media (max-width: 425px){
	.header__logo {
			margin: 0 0 40px 0;
	}
	.header__text{
		padding-bottom: 25px;
		margin-bottom: 70px;
	}
	.header__title{
		font-size: 22px;
	}
	.header__subtitle{
		font-size: 14px;
	}
	.header__button::before,
	.header__button::after{
		top: 80px;
		
	}
	.header__button::before{
		left: 62px;
	}
	.header__button::after{
		left: 54px;
	}
	.header__button{
		font-size: 14px;
		padding: 13px 23px;
	}
}
// NAV
.navigator {
		&__body {
			padding: 22px 0px 25px;
			border: 1px solid #f2f2f2;
		}
		&__list{
			display: flex;
			justify-content: center;
			gap: 40px; // расстояние между li
   		list-style: none; // убрать точки
   		padding: 0; // убрать стандартный padding
			margin: 0;
			font-size: 15px;
		}
		&__item a{
			color: #3c3c3c;
			transition: color 0.3s;
			&:hover {
				color: #ada074;
			}
		}
}
@media(max-width:425px){
	.navigator__body{
		padding: 15px 0px 17px;
	}
	.navigator__list{
		gap: 30px;
	}
}
@media(max-width:375px){
	.navigator__list{
		gap: 20px;
	}
}
@media(max-width:350px){
	.navigator__list{
		gap: 10px;
		
	}
	.navigator__body{
		padding: 15px 15px;
	}
}
@media(max-width:320px){
	.navigator__body{
		text-align: center;
		font-size: 12px;
	}
}
// ABOUT
.about {
padding: 129px 0 93px;
		&__title {
			margin-bottom: 37px;
		}

		&__subtitle {
			color: #868585;
			font-size: 14px;
			font-weight: 300;
			line-height: 26px;
			text-align: center;
			max-width: 690px;
			margin: 0 auto 69px;
		}

		&__columns {
			display: flex;
			margin: 0 -40px;
		}

		&__column {
			padding: 0 40px;
			flex: 0 1 33.3334%;
		}

		&__items {
		}
}
.item-about {
text-align: center;
		&__icon {
			display: inline-block;
			padding: 30px 0 0 0px;
			width: 92px;
			height: 92px;
			margin-bottom: 40px;
			border: 2px solid #f0f0f0;
			border-radius: 100%;
		}

		&__title {
			font-size: 22px;
			margin-bottom: 36px;
			letter-spacing: 0.16em;
		}

		&__text {
			color: #868585;
			font-weight: 300;
			line-height: calc(26/14*100%);
		}
}
@media (max-width: 1024px){
	.about {
		padding: 65px 0 65px;
	}
	.about__subtitle{
		margin-bottom: 55px;
	}
	.item-about__icon{
		margin-bottom: 26px;
	}
	.item-about__title{
		margin-bottom: 20px;
	}
	.item-about__text{
		line-height: calc(21/14*100%);
	}
}
@media (max-width: 768px){
	.about {
		padding: 45px 0 45px;
	}

	.about__subtitle{
		margin-bottom: 40px;
	}
	.item-about__icon{
		margin-bottom: 20px;
	}
	.item-about__title{
		margin-bottom: 14px;
		font-size: 19px;
	}
	.item-about__text{
		line-height: 1.3;
	}
}
@media (max-width: 950px) {
   .about__columns {
		flex-direction: column; 
		
	}
	.about__column:not(:last-child){
		margin-bottom: 30px;
	}
}
@media(max-width:425px){
	.about__title{
		font-size: 28px;
	}
}
// PORTFOLIO
.portfolio {
background-color: #f3f3f3;
padding: 107px 0 62px 0;
text-align: center;
		&__title {
			margin-bottom: 50px;
		}

		&__navigator {
			margin-bottom: 136px;
		}

		&__list {
			gap: 40px;
			
		}

		&__li a{
			color: #3c3c3c;
			transition: color 0.3s;
			&:hover {
				color: #ada074;
			}
		}

		&__columns {
			display: flex;
			gap: 26px
		}
		&__column {
			display: flex;
			flex-direction: column;
			gap: 16px;
			flex: 1 1 50%;
			min-width: 0;
		}

		&__item {
			width: 100%;
			img{
				width: 100%;
				height: auto;
				display: block;
			}
		}

		&__button {
			display: inline-block;
			border: 1px solid #000;
			padding: 15px 39px 17px 41px;
			margin-top: 48px;
			color: inherit;
			transition: all 0.3s ease 0s;
			&:hover{
				color: #360044;
				border: 1px solid #360044;
			}
		}
}
@media (max-width: 1024px) {
	.portfolio{
		padding: 70px 0 52px 0;
	}
	.portfolio__navigator {
		margin-bottom: 100px;
	}
}
@media (max-width: 768px) {
	.portfolio{
		padding: 50px 0 50px 0;
	}
	.portfolio__navigator {
		margin-bottom: 70px;
	}
   .portfolio__columns {
      flex-direction: column;
      gap: 16px;
   }

   .portfolio__column {
      gap: 16px;
   }
}
@media (max-width: 425px) {
	.portfolio{
		padding: 40px 0 40px 0;
	}
	.portfolio__navigator {
		margin-bottom: 50px;
	}
   .portfolio__columns {
		gap: 10px;
   }

   .portfolio__column {
      gap: 10px;
   }
	.portfolio__button{
		font-size: 14px;
		padding: 13px 23px;
	}
	.portfolio__title{
		font-size: 26px;
	}
}
// PARTNERS
.partners {
	padding: 100px 0;
	position: relative;
	overflow: hidden;
	text-align: center;
		&__bg {
			position: absolute;
			inset: 0;
			background: url('/img/partners/bg.jpg') center/cover no-repeat;
			z-index: -1;
		}

		&__title {
			font-weight: 300;
			font-size: 30px;
			letter-spacing: 0.06em;
			color: #fff;
			margin-bottom: 93px;
		}

		&__body {
			
		}

		&__icons {
			display: flex;
			justify-content: center;
			flex-wrap: wrap;
			gap: 109px;
			align-items: center;
		}

		&__icon {
			
		}
}
@media(max-width:650px){
	.partners__icons{
		gap: 80px;
	}
}
@media(max-width:550px){
	.partners__icons{
		gap: 60px;
	}
}
@media(max-width:470px){
	.partners__icons{
		gap: 60px;
		padding: 0px 90px;
	}
}
@media(max-width:444px){
	.partners__icons{
		gap: 60px;
		padding: 0px 80px;
	}
}
@media(max-width:430px){
	.partners__icons{
		gap: 100px;
		padding: 0px 0px;
	}
}
// CONTACT
.contact {
padding: 183px 0 102px 0px;

		&__title {
			margin-bottom: 120px;
		}

		&__body {
			display: flex;
			gap: 79px;
			margin-left: 101px;
		}

		&__form {
			text-transform: uppercase;
			font-weight: 700;
			letter-spacing: 0.06em;
		}

		&__user-details {
		}

		&__input-box {
			display: flex;
			flex-direction: column;
			gap: 20px;
			
		}
		&__inptop{
			display: flex;
			margin-bottom: 75px;
		}
		&__name {
			border-top: 1px solid #000;
			background-color: #f8f7f7;
			width: 161px;
			height: 35px;
			margin-right: 60px;
		}

		&__email {
			border-top: 1px solid #000;
			background-color: #f8f7f7;
			width: 161px;
			height: 35px;
		}

		&__message {
			border-top: 1px solid #000;
			background-color: #f8f7f7;
			width: 383px;
			height: 118px;
			margin-bottom: 43px;
		}

		&__button {
			padding-left: 345px;
			text-transform: uppercase;
			background: #fff;
			font-weight: 700;
			transition: color 0.3s ease 0s;
			&:hover{
				color: #223763;
			}
		}

		&__info {
		}

		&__text{
			font-weight: 300;
			margin-bottom: 26px;
		}
		&__text p{
			padding-bottom: 12px;
		}

		&__postma {
			font-weight: 700;
			margin-bottom: 25px;
		}

		&__icons {
			display: flex;
			gap: 32px;
			margin-bottom: 13px;
		}

		&__icon {
			display: flex;
			align-items: center;
			border: 2px solid #000;
			border-radius: 100%;
			width: 29px;
			height: 29px;
			text-align: center;
			justify-content: center;
		}
		&__mail {
			font-weight: 300;
		}
		&__mail span{
			font-weight: 700;
		}
}
@media(max-width:1024px){
	.contact{
		padding: 70px 0 50px 0;
	}
	.contact__title{
		margin-bottom: 75px;
	}
	.contact__inptop{
		margin-bottom: 45px;
	}
	.contact__message{
		margin-bottom: 35px;
	}
}
@media(max-width:768px){
	.contact{
		padding: 50px 0 40px;
	}
	.contact__title{
		margin-bottom: 60px;
	}
	.contact__body{
		margin-left: 15px;
		gap: 30px;
	}
	.contact__inptop{
		margin-bottom: 35px;
	}
	.contact__name {
		width: 161px;
		height: 35px;
		margin-right: 30px;
	}

	.contact__email {
		width: 161px;
		height: 35px;
	}

	.contact__message {
		width: 353px;
		height: 118px;
		margin-bottom: 23px;
	}
	.contact__button{
		padding-left: 315px;
	}
	.contact__input-box{
		gap: 10px;
	}
}
@media(max-width:600px){
	.contact__inptop{
		margin-bottom: 25px;
	}
	.contact__name {
		width: 121px;
		height: 35px;
		margin-right: 30px;
	}

	.contact__email {
		width: 121px;
		height: 35px;
	}

	.contact__message {
		width: 273px;
		height: 88px;
		margin-bottom: 23px;
	}
	.contact__button{
		padding-left: 235px;
	}
}
@media(max-width:520px){
	.contact__inptop{
		flex-direction: column;
		gap: 20px;
		margin-bottom: 20px;
	}
	.contact__name {
		width: 141px;
		height: 35px;
		margin-right: 30px;
	}

	.contact__email {
		width: 141px;
		height: 35px;
	}

	.contact__message {
		width: 141px;
		height: 35px;
		margin-bottom: 23px;
	}
	.contact__button{
		padding-left: 103px;
	}
}
@media(max-width:425px){
	.contact__title{
		font-size: 28px;
	}
	.contact__text{
		margin-bottom: 10px;
	}
	.contact__text p{
		padding-bottom: 5px;
	}

	.contact__postma {
		margin-bottom: 13px;
	}

	.contact__icons {
		gap: 25px;
		margin-bottom: 13px;
	}
	.contact__message {
		margin-bottom: 20px;
	}
	.contact__button{
		padding-left: 0px;
	}
}
@media(max-width:375px){
	.contact {
	padding: 40px 0 30px 0px;
	}
	.contact__title {
		margin-bottom: 34px;
	}
	.contact__body{
		gap: 0px;
		margin-left: 0px;
	}
	.contact__message {
		margin-bottom: 13px;
	}
	.contact__button{
		padding-left: 0px;
	}
}
@media(max-width:320px){
	.contact__body{
		gap: 0px;
		margin-left: -10px;
	}
		.contact__inptop{
		flex-direction: column;
		gap: 20px;
		margin-bottom: 20px;
	}
	.contact__name {
		width: 111px;
		height: 35px;
		margin-right: 30px;
	}

	.contact__email {
		width: 111px;
		height: 35px;
	}

	.contact__message {
		width: 111px;
		height: 35px;
		margin-bottom: 13px;
	}
	.contact__button{
		padding-left: 0px;
	}
	.contact__title{
		font-size: 25px;
	}
}

// FOOTER
.footer{
	background: #3c3c3c;
	padding: 34px 0 49px;
	text-align: center;
		&__logo {
			margin-bottom: 41px;
		}

		&__nav {
			margin-bottom: 34px;
		}

		&__list {
			display: flex;
			justify-content: center;
			gap: 22px;
		}

		&__item a{
			color: #a4a4a4;
		}

		&__copy {
			color: #6c6c6c;
		}
}